---
title: false
styles: true
---

.typeset #austin-on-devops-programming-it {
  background-color: rgba(211, 219, 213, 0.9);
  border-radius: 10% / 50%;
  border-style: outset;
  border-color: black;
  border-size: 1px;
  border-width: thick;
  padding: 3%;
  
  -webkit-animation: blink 2.5s infinite;
  -moz-animation:    blink 2.5s infinite;
  -ms-animation:     blink 2.5s infinite;
}

a {
    color: #b39954;
    text-decoration: none;
    transition: color .1s, background-color .1s
}

a:hover,a:active,a:focus {
    color: #dbb03d;
    text-decoration: none
}

.typeset p a,.typeset li a {
    background-image: linear-gradient(to bottom, transparent 50%, #05bf85 50%);
    background-position: 0 93%;
    background-repeat: repeat-x;
    background-size: 100% 0.15rem;
    text-shadow: 0.1rem 0 #fff,0.15rem 0 #fff,-0.1rem 0 #fff,-0.15rem 0 #fff
}

.typeset p a:hover,.typeset p a:active,.typeset p a:focus,.typeset li a:hover,.typeset li a:active,.typeset li a:focus {
    background-image: linear-gradient(to bottom, transparent 50%, #b39954 50%)
}

// https://stackoverflow.com/questions/25669050/infinite-border-color-loop
@-webkit-keyframes blink {
        0%   { border-color:#0fa32a; }
        50%  { border-color:green;}
        100% { border-color:#0fa32a; }
}
@-moz-keyframes blink {
        0%   { border-color:#0fa32a; }
        50%  { border-color:green;}
        100% { border-color:#0fa32a; }
}
@-ms-keyframes blink {
        0%   { border-color:#0fa32a; }
        50%  { border-color:green;}
        100% { border-color:#0fa32a; }
}

footer.footer {
  background: #0a0707;
  color: white;
}

@import "alembic";
