---
title: false
styles: true
---

body.layout-page, body.layout-post, body.layout-categories {
  background: #d5e6d9;
}

.typeset h1 {
  padding-left: 3%;
  padding-bottom: 2%;
  background-color: #95cd93;
  
  margin-top: 1%;
}

.article.article a {
  text-shadow: none;
  background-image: none;
}

.nav.nav a {
  text-shadow: none;
  background-image: none;
}

form.contact-form.input::placeholder {
  color: white;  
}

//https://stackoverflow.com/questions/29437100/css3-text-hover-effect-moving-background-like-a-progress-bar
.typeset #austin-on-devops-programming-it {
  background-color: rgba(211, 219, 213, 0.9);
  border-radius: 10% / 50%;
  border-style: inset;
  border-color: black;
  border-size: 1px;
  border-width: thick;
  padding: 3%;
  
  -webkit-animation: blink 2.5s infinite;
  -moz-animation:    blink 2.5s infinite;
  -ms-animation:     blink 2.5s infinite;
  
  background-position: 0 0;
  background-size: 200.22% auto;
  transition: background-position 55s ease-out 0s;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #3d7048 50%);
}

//
.typeset #austin-on-devops-programming-it:hover {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #3d7048 50%);
  background-position: -99.99% 0;
}

li.item--current a {
  color: black; 
}

.item a {
  color: #3970e4;
  text-decoration: none;
  transition: color .1s, background-color .1s;
}

.item a:hover,a:active,a:focus {
  color: #0f3074;
  text-decoration: none;
}

// https://stackoverflow.com/questions/25669050/infinite-border-color-loop
@-webkit-keyframes blink {
   0%   { border-color:#0fa32a; }
   50%  { border-color:green;}
   100% { border-color:#0fa32a; }
}
@-moz-keyframes blink {
   0%   { border-color:#0fa32a; }
   50%  { border-color:green;}
   100% { border-color:#0fa32a; }
}
@-ms-keyframes blink {
   0%   { border-color:#0fa32a; }
   50%  { border-color:green;}
   100% { border-color:#0fa32a; }
}

// Header Border CSS

header .feature {
   border-top: 3px dotted blue; 
}

body.search header, body.about header, body.index header, body.contact header {
   border-bottom: 3px dotted blue; 
}

// Button 

button.button--nav {
   color: blue;
}

button.button--nav:hover, button.button--nav:focus, button.button--nav:hover:focus{
   outline: solid 0.12rem black;
   outline-offset: -0.12rem;
   color: #0a367d;
}

// Footer 

footer.footer {
  background: #0a0707;
  border-top: 3px dotted blue; 
}

footer.footer a {
  color: white;
}

// particles

#containerone {
  position: relative;
  overflow: hidden;
}

#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;
}

@import "alembic";
