---
title: false
styles: true
---

https://stackoverflow.com/questions/29437100/css3-text-hover-effect-moving-background-like-a-progress-bar
.typeset #austin-on-devops-programming-it {
  background-color: rgba(211, 219, 213, 0.9);
  border-radius: 10% / 50%;
  border-style: outset;
  border-color: black;
  border-size: 1px;
  border-width: thick;
  padding: 3%;
  
  -webkit-animation: blink 2.5s infinite;
  -moz-animation:    blink 2.5s infinite;
  -ms-animation:     blink 2.5s infinite;
  
  background-position: 0 0;
  background-size: 200.22% auto;
  transition: background-position 120s ease-out 0s;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, orange 50%);
}

.typeset #austin-on-devops-programming-it:hover {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, orange 50%);
  background-position: -99.99% 0;
}

li.item--current a {
 color: black; 
}

.item a {
    color: #b39954;
    text-decoration: none;
    transition: color .1s, background-color .1s
}

.item a:hover,a:active,a:focus {
    color: #dbb03d;
    text-decoration: none
}

// https://stackoverflow.com/questions/25669050/infinite-border-color-loop
@-webkit-keyframes blink {
        0%   { border-color:#0fa32a; }
        50%  { border-color:green;}
        100% { border-color:#0fa32a; }
}
@-moz-keyframes blink {
        0%   { border-color:#0fa32a; }
        50%  { border-color:green;}
        100% { border-color:#0fa32a; }
}
@-ms-keyframes blink {
        0%   { border-color:#0fa32a; }
        50%  { border-color:green;}
        100% { border-color:#0fa32a; }
}

footer.footer {
  background: #0a0707;
  color: white;
}

@import "alembic";
